DATABASE_URL="postgres://znab:znab@localhost:5432/znab"
API_PORT=3001
# Router tests (bun run test:db). Must name a database ending in _test; created on demand.
TEST_DATABASE_URL="postgres://znab:znab@localhost:5432/znab_test"
